<template name="bt_panel_example">
	<h1>Panels</h1>
  {{#bt_panel title="New Panel" type="default"}}
    Hello to my new panel
  {{/bt_panel}}
  {{#bt_panel title="New Panel" type="primary"}}
    Hello to my new panel
  {{/bt_panel}}
  {{#bt_panel title="New Panel" type="success"}}
    Hello to my new panel
  {{/bt_panel}}
  {{#bt_panel title="New Panel" type="info"}}
    Hello to my new panel
  {{/bt_panel}}
  {{#bt_panel title="New Panel" type="danger"}}
    Hello to my new panel
  {{/bt_panel}}
  {{#bt_panel title="New Panel" type="warning"}}
    Hello to my new panel
  {{/bt_panel}}

  {{#bt_panel title=">btpanelheadertester" type="default"}}
    This panel has custom html title
  {{/bt_panel}}
</template>

<template name="btpanelheadertester">
<h3>My Custom HTML title</h3>
</template>