<template name="bt_panel">

<div class="panel {{panel_type}}">
  <div class="panel-heading">
    {{#if bt_isTemplate heading}}
     {{> heading}}
    {{else}}
      {{#if heading }}
        {{heading}}
      {{else}}
        {{#if title}}<span class="panel-title">{{title}}</span>{{/if}}
      {{/if}}
    {{/if}}
  </div>
  <div class="panel-body">
    {{> content}}
  </div>
  {{#if footer }}
  <div class="panel-footer">
    {{#if bt_isTemplate footer}}
     {{> footer}}
    {{else}}
      {{footer}}
    {{/if}}
  </div>
</template>
